<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Consulturia VDT</h1>
    <p class="lead text-muted">Construa um site profissional usando Ruby & Sinatra em menos de 15 minutos.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>
      <a href="mailto:johndoe@example.org?Subject=Contato%20again" class="btn btn-primary my-2">Fale conosco</a>
      <a href="https://www.videosdeti.com.br/free_courses.html" class="btn btn-secondary my-2">Cursos gratuitos</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <h2 class="text-center">Cursos com certificado</h2>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="https://www.videosdeti.com.br/images/rails5x-cover.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Entenda todo ecossistema do Ruby on Rails 5.x criando uma aplicação do início ao fim!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Visualizar</button>
              </div>
              <small class="text-muted">Todos os níveis</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="https://www.videosdeti.com.br/images/docker-js-cover.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Use Docker no seu ambiente de desenvolvimento e produção com aplicações Javascript / Node.JS</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Visualizar</button>
              </div>
              <small class="text-muted">Iniciante/Intermediário</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="https://www.videosdeti.com.br/images/docker-rails-cover.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Use Docker no seu ambiente de desenvolvimento e produção com aplicações Ruby on Rails.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Visualizar</button>
              </div>
              <small class="text-muted">Iniciante/Intermediário</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

