<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </a>
    </p>
    <p>Album example is &copy; Bootstrap.</p>
    <p>Curso de sinatra? Visite <a href="https://www.youtube.com/watch?v=GJ36JRlRxvc&t=33s">meu canal</a> no youtube</a>.</p>
  </div>
</footer>
